<div id="<%= dom_id poker_hand %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cards:</strong>
    <%= poker_hand.cards %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this poker hand", poker_hand, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this poker hand', edit_poker_hand_path(poker_hand), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
